/* StatusTable.css */

.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    /*background-color: #f4f4f4;*/
    min-height: 100vh;
  }
  
  .add-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .table-container {
    overflow-x: auto;
  }
  

  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .styled-table th {
    background-color: #007bff;
    color: white;
  }
  
  .styled-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .styled-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .styled-table input, .styled-table select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .styled-table select:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
/* Estilo para el campo Nombre completo */
.nombre-completo-cell {
  white-space: nowrap; /* Evita saltos de línea */
  min-width: 300px; /* Asegura un ancho mínimo para la celda */
}

.message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}